@model IEnumerable<GameOfThronePool.Models.UserBonusQuestion>

<h2>Answer these questions for bonus points!</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Bonus Question
            </th>
            <th>
                Question
            </th>
            <th>
                Your Answer
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correct)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionAnswer)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Correct)*@?
            </td>
            <td>
                @Html.ActionLink("Change Answer", "Edit", "UserBonusQuestions", new { id = @item.UserBonusQuestionID }, null)

            </td>
        </tr>
}
    </tbody>
</table>
