@model GameOfThronePool.Models.UserBonusQuestion

@{
    ViewData["Title"] = "Bonus Quest " + Model.QuestionNumber;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h2, h4, h3, th, label {
        font-family: OFL Sorts Mill Goudy, Noto Nastaliq Urdu, My Noto Nastaliq Urdu, Georgia, serif;
    }

    body{
        padding-top: 50px;
        padding-bottom: 20px;
        font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    }
</style>
<br />
<h2>Answer Bonus question @Model.QuestionNumber</h2>
<hr />
<div class="row">
    <div class="col-lg-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserBonusQuestionID" />
            <input type="hidden" asp-for="UserName" />
            <input type="hidden" asp-for="QuestionNumber" />
            <input type="hidden" asp-for="QuestionText" />

            <div class="jumbotron">
                <h3>@Model.QuestionText</h3>
            </div>
            <div class="form-group" style="max-width: 280px;">
                <label>Your Answer</label>
                <input asp-for="QuestionAnswer" class="form-control" />
                <span asp-validation-for="QuestionAnswer" class="text-danger"></span>
            </div>
            @if (ViewBag.HasPrivilege)
            {
                @Html.LabelFor(m => m.Correct)<br />
                @Html.EditorFor(m => m.Correct)
            }
            else
            {
                <input type="hidden" asp-for="Correct" />
            }
            <div class="form-group">
                @if (@ViewBag.HasPrivilege){
                <input type="submit" value="Save" class="btn btn-default" />
                }
                <button value="Saving is disabled!" class="btn btn-danger" disabled>Submissions are locked</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
