@model GameOfThronePool.Models.UserCharacterSelection

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UserCharacterSelection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CharacterID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CharacterName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AliveStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AliveStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BecomesAWhiteWalker)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BecomesAWhiteWalker)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserCharacterSelectionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
